.blackNav {
	display: flex;
	text-align: center;
	background: gray;
	width: 100%;
	color: white;
	padding-left: 20px;
}
.todolist {
	padding-left: 20px;
	text-align: center;
	border-bottom: 1px solid black;
}
.modal {
	margin-top: 20px;
	padding: 20px;
	background: #eee;
	text-align: left;
}
.underbar {
	border-bottom: 1px solid black;
	text-align: center;
}
